* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 1em auto;
  padding: 20px 20px;
  font: 500 100%/1.5 system-ui;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
  color: white;
  font-weight: 700;
  line-height: 1.1;
  text-align: left;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.7rem;
}

p {
  color: white;
  text-align: left;
  font-size: 22px;
  line-height: 2;
  margin: 35px 0;
  
}

header {
  width: 96%;
  margin: 0 auto;
  padding: 2.5rem;
  text-align: center;
}


figure {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
}

figure a {
  color: black;
  text-decoration: none;
}

figcaption {
  grid-row: 2;
  grid-column: 1;
  background-color: rgba(255,255,255,.5);
  padding: .2em .5em;
  justify-self: start;
}

footer {
  margin: ;
  text-align: center;
}

main button {
    background-color: red;
    color: white;
    border: none;
    padding: 0.6rem 1rem;
  }

.before-portfolio {
  display: grid;
  padding: 10px;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  align-items: center;
  margin: 0 auto;
  font: 500 100%/1.5 system-ui;
}

.before-portfolio img {
    max-width: 100%;
    height: auto;
  }


.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navigation li {
  float: right;
}

.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation li a:hover {
  background-color: red;
}

.portfolio-container { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 1px;
  grid-auto-rows: minmax(180px, auto);
  grid-auto-flow: dense;
  padding: 1px;
}

.portfolio-item {
    padding: 1rem;
    background-color: #ccc;
    border-radius: 10px;
    align-content: center;
}

.span-1 {
  grid-column-end: span 3;
  grid-row-end: span 1;
}

.span-3 {
  grid-column-end: span 3;
  grid-row-end: span 4;
}

.portfolio-img {
  object-fit: cover;
  width: 100%;
  height: auto;
}



.justify-center {
  justify-content: center;
}



@media screen and (min-width: 768px) {

  .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* select the last child to grow to full width if it has space to grow */
  .card-column:last-child {
    flex-grow: 1;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  .card-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}
