
:root {
  --outer-space: ;

}

::selection {
  background-color: ;
  color: ;
}

html {
   font-size: ;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 
  line-height: ;
  color: ;
  background-color: ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: ;
  color: ;
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 20px ;
}

h4 {
  font-size: 18px ;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  margin-bottom: ;
}

code {
  font-family: ;
}

header {
  width: 96%;
  margin: 0 auto;
  padding: 2.5rem;
  text-align: center;
}

header h1.page-title {
  padding: 
  font-size: ;
}

main {
  width: 96%;
  margin: ;
}

footer {
  margin: ;
  text-align: center;
}

.portfolio-container { 
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px; 
  width: 100%;
}

.portfolio-item {
  flex: auto;
  height: 250px;
  min-width: 150px;
  margin: 0 8px 8px 0; 
}

.portfolio-item:nth-child(4n+1) {
  width: 250px;
}
.portfolio-item:nth-child(4n+1):nth-child(4n+2) {
  width: 325px;
}
.portfolio-item:nth-child(4n+1):nth-child(4n+3) {
  width: 180px;
}
.portfolio-item:nth-child(4n+1):nth-child(4n+4) {
  width: 380px;
}

.portfolio-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}



.justify-center {
  justify-content: center;
}



@media screen and (min-width: 768px) {

  .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* select the last child to grow to full width if it has space to grow */
  .card-column:last-child {
    flex-grow: 1;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  .card-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}
